.container {
  height: 410px;
  position: relative;
}

.imagem {
  max-width: 100%;
  height: auto;
}

.container .slick-prev,
.container .slick-next {
  z-index: 1;
  width: 40px;
  height: 40px;
}

.container .slick-prev {
  left: 20px;
}

.container .slick-next {
  right: 20px;
}

.container .slick-dots {
  bottom: 15px;
}