.container {
  display: flex;
  height: 410px;
  position: relative;
}

.imagem {
  max-width: 100%;
  height: auto;
}

.botaoAnterior,
.botaoProximo {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 45%;
}

.botaoAnterior {
  left: 20px;
}

.botaoProximo {
  right: 20px;
}

.conteudoBotao {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}

.circuloSeta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.seta {
  width: 20px;
  height: 35px;
}
