
.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 48px 48px 48px;
}

.itemImage{
    width: 182px;
    height: 273px;
    box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.itemDetails{
    display: flex;
    flex-direction: column;
    height: 273px;
    justify-content: space-between;

}

.itemDetails h3 {
    color: #274553;
    font-size: 25px;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif
    ;
}
 .itemControls {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 43px;
 }

 .Esquerda{
    display: flex;
    align-items: center;
    gap: 43px;
    justify-content: center;

 }

.Tamanho {
  background-color: #3E677A;
  width: 50px;
  height: 51px;
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.Tamanho p{
    font-size: 20px;
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
    color: white
    ;
}

 .Direita{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
    height: 273px;
 }

.Direita:last-child{
    display: flex;
}

.removeButton{
    border: none;
    background: none;
}

.removeButton img {
    width: 27px;
    height: 27px;
}

.itemSubtotal {
    color: #171717;
    font-size: 32px;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
}